.products_tailwind{
    background-image: url("../images/curve.png")

}

.img_beneficio{
    max-height: 100px;
}

.compra_background{
    background-image: url("../images/compra.gif");
    background-position: center;
    background-size: contain;
}

.bg-uno{
    background-image: url("../images/Juguete\ 1.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-dos{
    background-image: url("../images/Juguete\ 3.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}